@charset "UTF-8";

body {
  text-align: center;
  background: #011F3F;
}

#level-title {
  font: bolder 3rem 'Press Start 2P', cursive;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: red;
  opacity: 0.8;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background: grey;
}
