.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5em;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

a {
  text-decoration: none;
  color: #4ECCA3;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: underline;
}

input[type=button] {
  font: bold 2em 'Indie Flower';
  padding: 8px 15px;
  margin-top: 30px;
  border-radius: 10px;
  background: #4ECCA3;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

input[type=button]:hover {
  background: #4ecca28a;
  transition: 0.3s;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
